body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#btn_start_login{
    width: 30%;
    height: 5%;
    color: white;
    background-color: darkblue;
    border-color: darkblue;
    font-size: x-large;
    border-radius: 25px;
}

