body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#main {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid black;
    overflow: hidden;
    transition: transform 3s ease-out;
}

.choice {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
}
