#main{
    width: 30%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 35%;
    background-color: #c0c0c0;
    border-style: solid;
    border-radius: 25px;
}

#main #show_page{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 15%;
    border-radius: 100px;
    background-color: black;
    border-style: none;
    color: white;
    font-size: 50px;
    padding: 5%;
}

#main #numbers_operators{
    position: absolute;
    width: 90%;
    height: 70%;
    left: 5%;
    bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#main #numbers_operators .btn{
    width: 23%;
    margin: 1%;
    box-sizing: border-box;
    font-size: 30px;
    background: linear-gradient(135deg, 
    #e2e2e2 0%, 
    #f9f9f9 25%, 
    #c9c9c9 50%, 
    #f0f0f0 75%, 
    #d8d8d8 100%);
    animation: shine 3s infinite alternate;
    border-radius: 100%;
    border-style: none;
}

#main #numbers_operators .btn:hover{
    box-shadow: 2px 2px 40px black;
}

