body{
    margin: 0px;
}

@media only screen and (max-width: 600px){
    body{
        background-color: pink;
    }
    
}


#row{
    background-color: lightskyblue;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 25%;
    height: 70px;
    box-sizing: border-box;
    padding: 2px;
}

.nave{
    background-color: lime;
    width: 100%;
    height: 100%;

}

header{
    background-color: darkblue;
    width: 100%;
    height: 100px;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
}