#Navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    background-color: black;
}

.top_list{
    text-decoration: none;
    margin: 8px;
    color: white;
}

#sea_image{
    width: 100%;
    height: 60%;
}

.text_team{
    text-align: center;
    margin-top: 2px;
}
