#Navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    background-color: black;
}

.top_list{
    text-decoration: none;
    margin: 8px;
    color: white;
}

#sea_image{
    width: 100%;
    height: 60%;
}

.text_team{
    text-align: center;
    margin-top: 2px;
}

#Container_our_team ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Container_our_team ul li{
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
}

.img_team{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#container_our_work{
    display: flex;
    justify-content: start;
    align-items: start; 
    height: 400px;
    background-color: rgba(0, 0, 0, 0.672);
}

#container_our_work ul{
    list-style-type: none;
    display: flex;
}

#container_our_work ul li img{
    width: 300px;
    height: 150px;
    margin: 0px;
}

.our_work_customer{
    background-color: white;
    margin: 5px;
}

#text_customer{
    color: white;
}

#container_pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.pricing ul li{
    list-style-type: none;
    border-style: solid;
    text-align: center;
    margin: 0px;
    padding: 10px 120px 10px 120px;
    border-width: 1px;
}

.btn_pricing{
    background-color: rgb(18, 135, 133);
    color: white;
    padding: 5px 15px 5px 15px;
    border-style: none;
}

.last_part_pricing{
    background-color:rgba(0, 0, 0, 0.672);
}

#container_contact{
    margin-top: 20px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.672);
    display: flex;
    align-items: center;

}

#contact_us h4, h3{
    color: black;
    margin: 2px;
}


#contact_us a{
    color: black;
    margin: 2px;
    font-size: 40px;
    text-decoration-color: aquamarine;
}

#contact_form{
    margin-left: 300px;
    width: 600px;
    height: 170px;
    background-color: white;
}

#btn_contact{
    background-color: black;
    color: white;
    padding: 2px 20px 2px 20px;
    margin-left: 420px;
}

#container_map iframe{
    margin-top: 10px;
    width: 100%;
    height: 300px;
}

#the_last{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#the_last h3, h4{
    color: white;
}

#the_last a img{
    width: 25px;
    height: 25px;
    margin: 3px;
    border-radius: 100%;
}