#slider{
    width: 100%;
    display: flex;
}

.slider-child{
    display: none;
    width: 100%;
}

.slider-image{
    width: 100%;
}

.active{
    display: block;
}

.slider_btn{
    position: absolute;
    width: 0px;
    height: 0px;
    top: 140px;
    border-style: solid;
}

#btn_left{
    border-width: 20px 20px 20px 0px;
    border-color: transparent white transparent transparent;
    left: 20px;
}

#btn_right{
    border-width: 20px 0px 20px 20;
    border-color: transparent transparent transparent white;
    right: 20px;
}
