body{
    direction: rtl;
}

h1{
    text-shadow: 0px 0px 7px red;
    text-align: center;
}

#main{
    position: relative;
    height: 200px;
    width: 100%;
    background-color: lightskyblue;
}

.col{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-style: solid;
}

.col:hover{
    box-shadow: 10px 10px 10px 15px darkblue;  
}