#my_list{
    background-color: gray;
    padding: 20px;
}

#my_list p{
    background-color: lightsalmon;
    padding: 5px;
    position: relative;
}

#my_list p span{
    color: darkred;
    position: absolute;
    top: -10px;
    right: 10px;
}

#my_list p span button{
    border-radius: 100%;
    border-style: none;
    background-color: darkred;
    color: white;
}