.android{
    background-color: rgb(117, 164, 46);
    border-style: none;
}

#left_hand{
    position: absolute;
    top: 300px;
    left: 600px;
    width: 30px;
    height: 100px;
    border-radius: 25px;
    transition: transform 3s;
}

#right_hand{
    position: absolute;
    top: 300px;
    right: 550px;
    width: 30px;
    height: 100px;
    border-radius: 25px;
    transition: transform 3s;
}

#body{
    position: absolute;
    top: 300px;
    right: 600px;
    width: 120px;
    height: 130px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

#left_foot{
    position: absolute;
    top: 430px;
    left: 670px;
    width: 30px;
    height: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#right_foot{
    position: absolute;
    top: 430px;
    right: 620px;
    width: 30px;
    height: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


#head{
    position: absolute;
    top: 230px;
    right: 600px;
    width: 120px;
    height: 60px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

#left_eye{
    position: absolute;
    top: 250px;
    left: 665px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: white;
}

#right_eye{
    position: absolute;
    top: 250px;
    right: 620px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: white;
}

#left_ear{
    position: absolute;
    top: 220px;
    right: 615px;
    width: 10px;
    height: 30px;
    border-radius: 100px;
    transform: rotate(45deg);
}

#right_ear{
    position: absolute;
    top: 220px;
    left: 660px;
    width: 10px;
    height: 30px;
    border-radius: 100px;
    transform: rotate(-45deg);
}