.android{
    background-color: rgb(117, 164, 46);
    border-style: none;
}

#left_hand{
    position: absolute;
    top: 50%;
    left: 42%;
    width: 2%;
    height: 15%;
    border-radius: 25px;
    transition: transform 3s;
}

#right_hand{
    position: absolute;
    top: 50%;
    right: 42%;
    width: 2%;
    height: 15%;
    border-radius: 25px;
    transition: transform 3s;
}

#body{
    position: absolute;
    top: 50%;
    right: 45%;
    width: 10%;
    height: 20%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

#left_foot{
    position: absolute;
    top: 70%;
    left: 47%;
    width: 2%;
    height: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#right_foot{
    position: absolute;
    top: 70%;
    right: 47%;
    width: 2%;
    height: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


#head{
    position: absolute;
    top: 40%;
    right: 45%;
    width: 10%;
    height: 9%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

#left_eye{
    position: absolute;
    top: 43%;
    left: 47%;
    width: 1%;
    height: 2%;
    border-radius: 100%;
    background-color: white;
}

#right_eye{
    position: absolute;
    top: 43%;
    right: 47%;
    width: 1%;
    height: 2%;
    border-radius: 100%;
    background-color: white;
}

#left_ear{
    position: absolute;
    top: 37%;
    left: 46%;
    width: 1%;
    height: 5%;
    border-radius: 100%;
    transform: rotate(-45deg);
}

#right_ear{
    position: absolute;
    top: 37%;
    right: 46%;
    width: 1%;
    height: 5%;
    border-radius: 100%;
    transform: rotate(45deg);
}