#menu{
    list-style-type: none;
    padding-left: 0px;
    font-family: Arial;
    background-color: yellow;
    height: 40px;
}

#menu li{
    float: left;
    margin: 4px;
}

#menu li a{
    text-decoration: none;
    background-color: yellowgreen;
    color: white;
    padding: 10px;
}

#menu li a:hover{
    background-color: green;
    border-radius: 20px;
}

#menu li:hover .submenu{
    display: block;
}

.submenu{
    list-style-type: none;
    padding-left: 0px;
    background-color: yellow;
    display: none;
}

#menu .submenu li{
    float: none;
    margin-top: 20px;
}